################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FaceRecognition/bin/Debug/net8.0
/FaceRecognition/obj
/.vs
